<div id="main">
  <div>
    <div>
      あなたが思った漫画を当ててみせましょう！<br/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p>hello</p>
  </div>
  <div class="col-6">
    <p>hello</p>
  </div>
</div>