<div id="main">
  <div class="row mt-3">
    <div class="col-12">
      <p>あなたが思った漫画を当ててみせましょう！</p>
      <p>下記漫画から一つを頭に思い描いてください。</p>
    </div>
  </div>
  <%= render partial: "comics/list" %>
</div>